<p><!-- #######  YAY, I AM THE SOURCE EDITOR! #########--></p>
<p style="text-align: center;"><strong>UNIVERSIDAD DE EL SALVADOR</strong></p>
<p style="text-align: center;">FACULTAD MULTIDISCIPLINARIA DE OCCIDENTE</p>
<p style="text-align: center;">DEPARTAMENTO DE  INGENIERiA Y ARQUITECTURA</p>
<h2 style="text-align: center;"><strong>ACTA DE APROBACION DE TRABAJO DE GRADUACION</strong></h2>
<p>El presente documento consta de dos partes:</p>
<ol>
<li>El Acta de Defensa del Trabajo de Grado ratificada por el Tribunal Evaluador</li>
<li>El cuadro de calificaciones de todo el Proceso por parte del Docente Director del Proceso.</li>
</ol>
<p>Todo lo anterior con el visto bueno del Jefe del Departamento y el sello correspondiente. A continuacion el detalle de cada una de las partes.</p>
<p> <strong>a)</strong> <strong>ACTA DE DEFENSA DE TRABAJO DE GRADO</strong></p>
<p>En el Campus de la Facultad Multidisciplinaria de Occidente, <strong>a las  ___________ con ____________ minutos del dia veintidos  de mayo  del año dos mil dieciocho,</strong> con base a lo que se establece en la Etapa III del Articulos 203 del Reglamento de la Gestion Academico-Administrativa de la Universidad de El Salvador, en relacion a la exposicion y defensa oral del informe Final de la investigacion, se establece el Tribunal Calificador integrado por los Ingenieros <strong> _______________________________ </strong>nombrados para evaluar el Trabajo de Grado titulado <strong><em>"</em></strong><strong><em> ____________________________________________ </em></strong><strong>"</strong>realizado en el periodo  del <strong><em>______________________________________________</em></strong> por los(as) bachilleres: ___________________________________ Como un requisito para optar al grado academico de <strong> Ingeniero/ra </strong></p>
<p><strong>Antes de iniciar el acto:</strong> Los miembros del Tribunal Calificador se organizaron y como resultado, el Tribunal quedo integrado de la siguiente manera:</p>
<p><strong>________________________________________________</strong> <strong>Presidente</strong></p>
<p><strong>________________________________________________</strong> <strong>Secretario</strong></p>
<p><strong>________________________________________________</strong> <strong> Vocal</strong></p>
<p>Procedieron los bachilleres a hacer la exposicion de contenido del trabajo de grado  y las conclusiones obtenidas del mismo, haciendo especial mencion en sus aportaciones principales.</p>
<p>Terminada la exposicion  del trabajo de grado, los miembros del Tribunal Evaluador, pasaron a exponer su opinion sobre la misma, formulando cuantas cuestiones, ampliaciones y objeciones consideraron oportunas, las cuales fueron contestadas por los bachilleres. Dichas observaciones fueron registradas por el Docente Director, quien valorara la incorporacion de las mismas en el Documento Final.</p>
<p>Tras la intervencion de los miembros de la mesa y las oportunas contestaciones de los bachilleres, se abrio  un turno de intervenciones para los presentes en el acto publico, a fin de formular  preguntas  pertinentes a la tematica tratada. </p>
<p>Terminada esta fase de intervencion y luego de recopilar las calificaciones y observaciones de esta Defensa Oral de cada uno de los miembros del Tribunal Calificador por parte del Docente Director; este, procede a Promediar los resultados de la Evaluacion de esta actividad, la cual se consigna en la presente Acta en el siguiente cuadro:</p>
<table style="border-color: black;" border="1">
<tbody>
<tr>
<td style="width: 120px; text-align: center;">
<p><strong>Nombre</strong></p>
</td>
<td style="width: 63px; text-align: center;">
<p><strong>Carne</strong></p>
</td>
<td style="width: 198px; text-align: center;">
<p><strong>Calificacion (en numero)</strong></p>
</td>
<td style="width: 183px; text-align: center;">
<p><strong>Calificacion (en letras)</strong></p>
</td>
</tr>
<tr>
<td style="width: 120px;">
<p><strong><em> </em></strong></p>
</td>
<td style="width: 63px;">
<p> </p>
</td>
<td style="width: 198px;">
<p><strong> </strong></p>
</td>
<td style="width: 183px;">
<p><strong> </strong></p>
</td>
</tr>
<tr>
<td style="width: 120px;">
<p><strong><em> </em></strong></p>
</td>
<td style="width: 63px;">
<p> </p>
</td>
<td style="width: 198px;">
<p><strong> </strong></p>
</td>
<td style="width: 183px;">
<p><strong> </strong></p>
</td>
</tr>
<tr>
<td style="width: 120px;">
<p><strong><em> </em></strong></p>
</td>
<td style="width: 63px;">
<p> </p>
</td>
<td style="width: 198px;">
<p><strong> </strong></p>
</td>
<td style="width: 183px;"> </td>
</tr>
</tbody>
</table>
<p> </p>
<p>Por tanto este Tribunal Calificador por este medio da Fe de que se ha realizado la Exposicion y Defensa del Informe Final de Investigacion, habiendo cumplido con las exigencias planteadas en e<strong>l </strong>Reglamento de la Gestion Academico-Administrativa de la  Universidad de El Salvador.</p>
<p>No habiendo mas que constar, se cierra el acto de la Exposicion y Defensa del Informe Final de Investigacion del Trabajo de Grado  a las ____________________________ horas con _________________________ minutos del dia ____________________________________________.</p>
<p> </p>
<p>______________________</p>
<p>Ing. </p>
<p>               Presidente </p>
<p> </p>
<p>______________________</p>
<p>Ing. </p>
<p>               Secretario </p>
<p> </p>
<p>______________________</p>
<p>Ing. </p>
<p>               Vocal </p>
<p><strong>b) CUADRO DE CALIFICACIONES DEL DOCENTE DIRECTOR</strong></p>
<p>El infrascrito Docente Director de este Proceso de Grado                                              <strong>, </strong> por este medio adjunta los resultados obtenidos en el Proceso de Graduacion para un grupo de Egresados de  <strong>la carrera Civil</strong>  que administra el Departamento de Ingenieria y Arquitectura.</p>
<p>El tema desarrollado por los/el estudiante(s) fue : <strong><em>_______________________________</em></strong><strong>".</strong></p>
<p><strong> </strong></p>
<p>El trabajo se efectuo desde el <strong>dia 21 de febrero del año 2017, ciclo I-Año lectivo 2017 y finalizo el dia 22  de mayo  del año 2018, ciclo I-Año lectivo 2018.-</strong></p>
<p> </p>
<p>Los resultados obtenidos a lo largo del Proceso de Grado, fueron los siguientes:</p>
<table style="border-color: black;" border="1">
<tbody>
<tr>
<td width="96"> </td>
<td width="79">
<p> </p>
</td>
<td colspan="3" width="172">
<p><strong>ETAPA</strong></p>
<p><strong> I</strong></p>
</td>
<td colspan="3" width="193">
<p><strong>ETAPA</strong></p>
<p><strong> II</strong></p>
</td>
<td colspan="2" width="149">
<p><strong>ETAPA III</strong></p>
</td>
<td width="67">
<p> </p>
</td>
</tr>
<tr>
<td width="96">
<p>Nombres </p>
</td>
<td width="79">
<p>Carne</p>
</td>
<td width="61">
<p>Proceso</p>
<p>Formativo </p>
<p>I</p>
<p>(10%) </p>
</td>
<td width="57">
<p>Proyecto</p>
<p> </p>
<p> </p>
<p>(20%)</p>
</td>
<td width="53">
<p>Nota de Etapa</p>
<p> I</p>
<p> </p>
<p>(30%)</p>
</td>
<td width="70">
<p>Proceso Formativo</p>
<p> II</p>
<p>(10%)</p>
</td>
<td width="71">
<p>Documento Final</p>
<p> </p>
<p>(40%)</p>
</td>
<td width="52">
<p>Nota de Etapa</p>
<p> II</p>
<p>(50%)</p>
</td>
<td width="74">
<p>Presentacion Oral Final</p>
<p> </p>
<p>(20%)</p>
</td>
<td width="74">
<p>Nota de la Presentacion oral final (20%)</p>
</td>
<td width="67">
<p>Nota Final</p>
</td>
</tr>
<tr>
<td width="96">
<p><strong><em>BRYAN ADONIS </em></strong></p>
</td>
<td width="79">
<p>RG12003</p>
</td>
<td width="61">
<p> </p>
</td>
<td width="57">
<p> </p>
</td>
<td width="53">
<p> </p>
</td>
<td width="70">
<p> </p>
</td>
<td width="71">
<p> </p>
</td>
<td width="52">
<p> </p>
</td>
<td width="74">
<p> </p>
</td>
<td width="74">
<p> </p>
</td>
<td width="67"> </td>
</tr>
</tbody>
</table>
<p> </p>
<p>Dado en la Facultad Multidisciplinaria de Occidente a los  veintidos  dias del mes de mayo  del año dos mil dieciocho.</p>
<p> </p>
<p> ______________________________________</p>
<p> Ing.  </p>
<p>                        Docente Director</p>
<p> </p>
<p> </p>
<p>_________________________________        Sello</p>
<p>Ing. Douglas Garcia Rodezno</p>
<p>Jefe del Departamento de Ingenieria y Arquitectura</p>